@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300vh;
    background: #2786b3;
    opacity: 100% ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.appcontainer
{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255, 255, 255,0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    top: 100px;
}
header
{
    position: absolute;
    top: 40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255,0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo 
{
    color: #8a2435;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header ul
{
    display: flex;
}
header ul li
{
    left:700px;
    list-style: none;
    margin: 0 10px;
}
header ul li a
{
  
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #ff4584 ;
    padding: 8px 15px;
    border-radius: 25px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

/* {
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff4584 ;
  display: inline-block;
  letter-spacing: 1px;
} */


header ul li a:hover,
header ul li a.active
{
    background: #ff4584;
    text-decoration: none;
    color: #fff;
    
}

.imgBx img
{
    max-width: 400px;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(100px);
    }
}
.wellnesscardcontainer
{
    position:relative;
    top:130px;
    
}
.cardcontainer
{
    position:relative;
    top:500px;
    right:180px;
 
}
.container1
{
    float:left;
    bottom:20px;
}

.container2
{
    position: relative;
    top:0;
    left:380px;
    display:flex;
    float: left;
}

thead
{
    background-color:#2786b3;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: x-large;
    color: white;
    font-family: sans-serif;
    
}

thead td
{
    padding-top: 30px;
    padding-bottom: 20px;
}

th h2
{
    color:white;
}

@import "compass/css3";

* {
  box-sizing: border-box;
}



::selection {
  background-color: #4EC6DE;
}

.tabbed {
  width: 700px;
  margin: 50px auto;
}

.tabbed > input {
  
  display: none;
}

.tabbed > label {
  display: block;
  color: #ff4584;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: white;
}

.tabs {
  clear: both;
  perspective: 600px;
}

.tabs > div {
  width: 900px;
  position: absolute;
  background: rgba(255, 255, 255, 0.658);
  border-radius: 20px;
  box-shadow: 10px 5px 20px #3caadc;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .tabbed { width: 400px }
  .tabbed > label { display: none }
  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
}

.aboutus {
  position: absolute;
  bottom: 50%;
  left: 40%;
}
.aboutus h1{
    color: #607d8b;
    font-weight: 600;
    font-size: 3.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584 ;
    display: inline-block;
    letter-spacing: 1px;
}
.description
{
  position: absolute;
  bottom: 40%;
  left: 10%;
  margin-right: 10%;
}

.description2
{
  position: absolute;
  bottom: 28%;
  left: 10%;
  margin-right: 10%;
}
.description3
{
  position: absolute;
  bottom: 16%;
  left: 10%;
  margin-right: 10%;
}
.description4
{
  position: absolute;
  bottom: 4%;
  left: 10%;
  margin-right: 10%;
}
.description h4
{
  color: #607d8b;
    font-weight: 600;
    font-size: 2.0em;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
.description2 h4
{
  color: #607d8b;
  font-weight: 600;
  font-size: 2.0em;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
.description3 h4
{
  color: #607d8b;
  font-weight: 600;
  font-size: 2.0em;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
.description4 h4
{
  color: #607d8b;
  font-weight: 600;
  font-size: 2.0em;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
.description p
{
  font-size: 18px;
    display: inline;
}
.description2 p
{
  font-size: 18px;
    display: inline;
}
.description3 p
{
  font-size: 18px;
    display: inline;
}
.description4 p
{
  font-size: 18px;
    display: inline;
}